<!DOCTYPE html>
<html>
    <head>
        <title> Node Authentication </title>
    </head>
        <body>
            <div class="container">
                    <h1>App Name here!</h1>
                    <p>Login or register below</p>
                    <a href="/login"><button class="login-btn">Login</button></a>
                    <a href="/signup"><button class="login-btn">Signup</button></a>
                </div>
        </body>
</html>