<% include partials/head %>
<body>
    <div class="container">
        <div class="profile-img">
            <img src="http://www.hollywoodreporter.com/sites/default/files/2014/09/placeholder_male_a_p.jpg" alt="placeholder image for profile pic">
        </div>
        <div class="profile-info">
            <input type="text" name="userId" value=<%= userId %>>
            <input type="text" name="userEmail" value=<%= userEmail %>>
            <input type="text" name="userName" value=<%= userName %>>
        </div> 
        <div class="logout button">
            <form method="get" action="/logout">
                <button class="logout-button" type="submit">Logout</button>
            </form>
        </div> 
    </div>
</body>
</html>
